<div class="container my-5">

  <% if @list.movies.empty? %>
    <%= link_to "Delete list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Delete #{@list.name} list?" }, class: "btn btn-outline-danger my-3" %>
    <%= image_tag(("box.png"), class: "img-muted") %>
    <div class="text-center">

      <h2>You have not saved any movies yet!</h2>
      <button type="button" class="btn btn-outline-dark my-4 mx-5" data-bs-toggle="modal" data-bs-target="#moviesModal">
      Add a movie
      </button>

      <%= render "shared/movie_modal" %>    </div>

  <% else %>

    <div class="banner position-relative" style="padding: 160px 0; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(
        <% if @list.photo.key.present? %>
          <%= cl_image_path @list.photo.key %>
        <% else %>
          <%= image_url("card.jpg") %>
        <% end %>
      )">
      <span class="badge text-bg-dark p-2 position-absolute top-0 start-0" style="border-radius: 4px;"><strong><%= @list.movies.all.count %> movies</strong></span>

      <h1 class="text-center"><%= @list.name %></h1>
    </div>
    <%# <br> %>
    <%# <br> %>

    <%= link_to "Delete list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Delete #{@list.name} list?" },
     class: "btn btn-outline-danger my-4 mx-5" %>

    <%# <%= link_to "Delete list", list_path(@list), data: { turbo_method: :delete, turbo_frame: "delete_modal" },
    class: "btn btn-outline-danger my-4 mx-5" %>



    <button type="button" class="btn btn-outline-dark my-4 mx-5 float-end" data-bs-toggle="modal" data-bs-target="#moviesModal">
    Add a movie
    </button>

    <%= render "shared/movie_modal" %>
    <%# <%= link_to "Add a movie", list_path(@list), class: "btn btn-outline-dark m-2 float-end", %>
        <%# data: { 'bs-toggle':"modal", 'bs-target':"#new_movie_modal" } %>

    <%# <br> %>
    <div class="container-bookmark my-2 mx-4">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="card-movie">
          <%= image_tag(movie.poster_url, size: "300x200") %>
          <div class="card--movie--content">
            <h3 class="text-center"><%= movie.title %></h3>
            <p><%= movie.overview %></p>
            <div class="d-flex justify-content-between">
              <div class="text-break" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                <i class="fas fa-quote-left me-2"></i><small><%= bookmark.comment =%></small><i class="fas fa-quote-right ms-2"></i>
              </div>
              <div class="danger-button border-0 mx-3">
                <%= link_to "Delete",
                  bookmark_path(bookmark),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>



</div>
