<%= render "shared/form" do %>
  <h3 class="text-center">Create a new movie</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, as: :select %>
    <%= f.button :submit %>
  <% end %>
<% end %>
